@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

body {
    font-family: 'Fredoka', cursive;
    
    background: linear-gradient(to right, #b37ed2, #c774e8, pink, #ff9a9e, #ff6a88, hotpink, #ff9a9e, #f78ca0, #fbc2eb, #ffe4ec, #ffb6c1, #fcbad3, #f78fb3, #f56fa1, #ff2d95, #d63384  );
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: black;
    font-size: 56px;
    -webkit-text-stroke: 2px purple;
}

.subtitulo {
    color: black;
    font-size: 32px;
    -webkit-text-stroke: 1px purple;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    -webkit-text-stroke: 1px purple;
    border: 4px solid purple;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: black;
    border: 2px solid white;
    color: white;
    font-family: 'Fradoka', cursive;
    font-size: 16px;
    margin: 30px;
    border: 3px solid purple;
    
}

input {
    display: none;
}

input:checked + label {
    background-color: gray;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: white;
    border: 3px solid purple;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 80px;
    font-family: 'Fradoka', cursive;
    color: white;
    background: black;
    font-size: 20px
}

#mensajes {
    width: 380px;
    background: purple;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

#boton-reiniciar {
border: 3px solid purple;
color: purple;
font-size: 20px;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: black;
    border: 2px solid white;
    color: white;
    font-family: 'Fradoka', cursive;
    font-size: 16px;
    margin: 10px 0;
    border: 3px solid purple;
    
}


@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
    }

@media (max-width: 360px) {
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    }


